<?xml version="1.0"?>

<launch>

	<node pkg="mdp_to_bt" type="bt_to_policy_equivalency_test.py" name="compare_bt_to_policy" output="screen">
	</node>

	<node name="rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find behavior_tree)/rqt_perspectives/behavior_tree.perspective"/>


</launch>